
<h1>Generating api...</h1>

ID desde:
<input id="inf" type="number"/>
Hasta
<input id="sup" type="number">&nbsp;
<input id="button" type="button" value="Generar">

<h1>Buscar</h1>
<input type="text" id="textoB" value="super mario"/>

&nbsp;
Página
<input type="text" id="pageB" value="1"/>
<input type="button" id="buttonB" value="Buscar"/>

<script>

    $(document).ready(function(){


    });


//    $(document).ready(fuction(){
//        var i=0
//        setTimeout(function(){
//            console.log(i++)
//        },1000);
//    });

    $("#button").click(function (){

        var inf = parseInt($("#inf").val())
        var sup = parseInt($("#sup").val())

        console.log(inf);
        console.log(sup);

        console.log("click");

        for (var i=inf;i<sup;i++){

            setTimeout(function(){
                var today = new Date();
                var dd = today.getHours();
                var mm = today.getMinutes()+1; //January is 0!
                var yyyy = today.getSeconds();


                if(dd<10) {
                    dd='0'+dd
                }

                if(mm<10) {
                    mm='0'+mm
                }

                today = mm+':'+dd+':'+yyyy;
                console.log(today);

                console.log(i);
                $.ajax({
                    type:"GET",
                    url:"https://www.giantbomb.com/api/game/"+i+"/?api_key=adfd7df613277440af75d8edc8fc97d8e6de24e3&format=jsonp&json_callback=callBack",
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSONP",
                    data: null,
                    success:SuccessAPI,
                    error: ErrorAPI,
                    json_callback:callBack
                });

            },3000);

        }
    });

    function SuccessAPI(data){
        //console.log("Success",data);
    }

    function ErrorAPI(data){
        //console.log("Error",data);
    }

    $("#buttonB").click(function(){


        var query = $("#textoB").val()
        var page = $("#pageB").val()
        console.log("Buscando ",query," con página "+page)

        var i = 0;
        for(var x=0;x<100;x++) {
            setTimeout(function () {
                console.log(i++)


                $.ajax({
                    type:"GET",
                    url:"https://www.giantbomb.com/api/search/?api_key=adfd7df613277440af75d8edc8fc97d8e6de24e3&format=jsonp&json_callback=callBack&query="+query+"&page="+i+"&resources=game",
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSONP",
                    data: null,
                    success:SuccessAPI,
                    error: ErrorAPI,
                    json_callback:callBack
                });

            }, x*10000)
        }


    });

    function callBack(data){
        console.log("--- CALLBACK ---");
        //console.log(data);

        var datos = data.results

        console.log("Total de juegos: ",datos.length);
        for(var i=0;i<datos.length;i++){
            //console.log("Datos["+i+"]: ",datos[i])


            var dato = datos[i];
            var idGame = dato.id

            var deck = ""
            if(dato.deck != null){
                deck = dato.deck
            }

            var smallImage = ""
            if(dato.image != null && dato.image.icon_url != null){
                smallImage = dato.image.icon_url
            }

            var bigImage = ""
            if(dato.image != null && dato.image.super_url != null){
                bigImage = dato.image.super_url
            }

            //console.log("SMALL ",smallImage);
            //console.log("BIG ",bigImage);
            var name = dato.name
            var launch = dato.original_release_date
            $.ajax({
                type:"GET",
                //url:"generateAPI/setGame/"+idGame+"/"+name+"/"+smallImage+"/"+bigImage+"/"+deck+"/"+launch,
                url:"generateAPI/setGame/"+idGame+"/"+launch,
                contentType: "application/json; charset=utf-8",
                dataType: "JSONP",
                data: {"small":smallImage,"big":bigImage,"name":name,"deck":deck},
                success:SuccessAPI,
                error: ErrorAPI,
                json_callback:SuccessAPI
            });


            //game_platform
            var platforms = dato.platforms
            if(platforms != null)
            for(var j=0;j<platforms.length;j++){
                var plat = platforms[j]

                var idPlat = plat.id
                var abb = plat.abbreviation
                var name = plat.name

                $.ajax({
                    type:"GET",
                    url:"generateAPI/setPlatform/"+idPlat+"/"+abb+"/"+name,
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSONP",
                    data: null,
                    success:SuccessAPI,
                    error: ErrorAPI,
                    json_callback:SuccessAPI
                });

                $.ajax({
                    type:"GET",
                    url:"generateAPI/setGamePlatform/"+idGame+"/"+idPlat,
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSONP",
                    data: null,
                    success:SuccessAPI,
                    error: ErrorAPI,
                    json_callback:SuccessAPI
                });

            }

            //rating
            var rating = dato.original_game_rating


//            console.log("RATING...",rating);

            if(rating != null)
            for(var j=0;j<rating.length;rating++){
                var rat = rating[j]
//                console.log("RAT...",rat);

                var name = rat.name
                var idRating = rat.id

//                console.log("RATING NAME",name," ID ",idRating)


                $.ajax({
                    type:"GET",
                    url:"generateAPI/setRating/"+idRating+"/"+name,
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSONP",
                    data: null,
                    success:SuccessAPI,
                    error: ErrorAPI,
                    json_callback:SuccessAPI
                });

                $.ajax({
                    type:"GET",
                    url:"generateAPI/setGameRating/"+idGame+"/"+idRating,
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSONP",
                    data: null,
                    success:SuccessAPI,
                    error: ErrorAPI,
                    json_callback:SuccessAPI
                });

            }




        }
    }
</script>
