

<h1>Hi</h1>


<script>

    $(document).ready(){

    }
   

    function login(){
        ajax("session/login",{email:"yo@correo.comxx",pass:"a"});
    }
    function logout(){
        ajax("session/logout",{email:"yo@correo.comxx",pass:"a"});
    }

    function insertComment(){
        ajax("game/setComment",{idGame:"1122",comment:"Está bien chido",rating:5});
    }

    function addGame(){
        ajax("game/setGame",{idGame:"1234",status:"T"});
    }

    function changeStatus(){
        ajax("game/changeGame",{idGame:"1234",status:"NJ"});
    }

    function deleteGame(){
        ajax("game/deleteGame",{idGame:"1234"});
    }

    function ajax(target,data){
        $.ajax({
            type:"POST",
            url:target,
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            data: data,
            success:Success,
            error: Error
        });
    }

    function Success(data){
        console.log("success");
        console.log(data);
    }

    function Error(data){
        console.log("error");
        console.log(data);
    }
</script>